{% extends 'base.html.twig' %}

{% block title %}Beneficios{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Listagem de Benefícios</h3>  
    <div class="direita">
        <a href="{{ path('beneficios_new') }}"><button type="button" class="ui primary button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo</button></a>
    </div>
    <table class="ui celled table">
        <thead>
            <tr class="ui center aligned">
                <th>Id</th>
                <th>Transfere Renda</th>
                <th>Programa</th>
                <th>Bpc</th>
                <th>Tipo Bpc</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficio in beneficios %}
            <tr>
                <td>{{ beneficio.id }}</td>
                <td>{% if beneficio.transfereRenda ==1 %}Sim{% else %}Não{% endif %}</td>
                <td>{{ beneficio.programa }}</td>
                <td>{% if beneficio.bpc ==1 %}Sim{% else %}Não{% endif %}</td>
                <td>{{ beneficio.tipoBpc }}</td>
                <td>{{ beneficio.usuario }}</td>
                <td>
                   <div class="ui small basic icon buttons">
                    <a href="{{ path('beneficios_show', {'id': beneficio.id}) }}"><button class="ui button"><i class="file green icon"></i></button></a>
                    <a href="{{ path('beneficios_edit', {'id': beneficio.id}) }}"><button class="ui button"><i class="edit blue icon"></i></button></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('beneficios_delete', {'id': beneficio.id}) }}"><button class="ui button"><i class="trash red icon"></i></button></a>
                    {% endif %}
                </div>                   
                </td>
            </tr>
        {% else %}
                <td colspan="6">nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
